# Core Dependencies
polars>=1.0.0
google-generativeai>=0.8.0
python-dotenv
watchdog

# Machine Learning
scikit-learn>=1.5.0
numpy>=2.1.0

# Visualization & Reporting
plotly
kaleido==0.2.1
reportlab
pillow>=11.0.0

# Utilities
pandas>=2.2.0
openpyxl
pyarrow>=18.0.0

# Dashboard
streamlit>=1.40.0